*{
    padding: 0;
    margin: 0;
}
.container{
    background-color: rgb(180, 123, 57);
    width: 100%;
    height: 100vh;
}
.container .card{
    width: 300px;
    height: 300px;
    background-color: rgb(119, 91, 54);
    border-radius: 15px;
    box-shadow: rgb(58, 49, 46) 2.4px 2.4px 3.2px;
    border-top: 1px solid;
    border-left: 1px solid;


}
.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1{
    text-align: center;
    position: relative;
    top: 20%
    
}
.input{
    margin: 15px;
}
.input input{
    width: 90%;
    margin: 10px;
    outline: none;
    border: none;
}
::placeholder{
    text-indent: 20px;
}
button{
    outline: none;
    border: none;
    background-color: rgb(243, 123, 25);
    margin: 10px 100px;
    border-radius: 15px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(243, 123, 25);
}
p{
    outline: none;
    border: none;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
}